<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
    <session-timeout>-1</session-timeout>
        </session-config>
    <display-name>mum</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>ChartDispatcherServlet</display-name>
        <servlet-name>ChartDispatcherServlet</servlet-name>
        <servlet-class>servlet.ChartDispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopConsumerCicsJSONServlet</servlet-name>
        <servlet-class>servlet.TopConsumerCicsJSONServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMStatServlet</servlet-name>
        <servlet-class>servlet.ATMStatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobAnalisysSuggestServlet</servlet-name>
        <servlet-class>servlet.JobAnalisysSuggestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSuggestedColumnQuery</servlet-name>
        <servlet-class>servlet.GetSuggestedColumnQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtmExcelExporter</servlet-name>
        <servlet-class>servlet.AtmExcelExporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMStatBySportelloServlet</servlet-name>
        <servlet-class>servlet.ATMStatBySportelloServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ATMStatBySportelloServlet</servlet-name>
        <url-pattern>/pages/atmSportello</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>AtmExcelExporter</servlet-name>
        <url-pattern>/pages/atmExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobAnalisysSuggestServlet</servlet-name>
        <url-pattern>/pages/jobAnalisysSuggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSuggestedColumnQuery</servlet-name>
        <url-pattern>/pages/getSuggestedColumn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopConsumerCicsJSONServlet</servlet-name>
        <url-pattern>/pages/topCics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDispatcherServlet</servlet-name>
        <url-pattern>/pages/chartsDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMStatServlet</servlet-name>
        <url-pattern>/pages/atmStat</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SystemInformationJsonServlet</display-name>
        <servlet-name>SystemInformationJsonServlet</servlet-name>
        <servlet-class>servlet.SystemInformationJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopCicsExportServlet</servlet-name>
        <servlet-class>servlet.TopCicsExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColumnsServlet</servlet-name>
        <servlet-class>servlet.GetColumnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobAnalysisServlet</servlet-name>
        <servlet-class>servlet.JobAnalysisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobAnalysisServlet</servlet-name>
        <url-pattern>/pages/jobAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColumnsServlet</servlet-name>
        <url-pattern>/pages/getColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopCicsExportServlet</servlet-name>
        <url-pattern>/pages/topCicsExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationJsonServlet</servlet-name>
        <url-pattern>/pages/systemJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LastDayMipsServlet</display-name>
        <servlet-name>LastDayMipsServlet</servlet-name>
        <servlet-class>servlet.LastDayMipsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastDayMipsServlet</servlet-name>
        <url-pattern>/pages/lastDayMips</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LastDayCpiServlet</display-name>
        <servlet-name>LastDayCpiServlet</servlet-name>
        <servlet-class>servlet.LastDayCpiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastDayCpiServlet</servlet-name>
        <url-pattern>/pages/lastDayCpi</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AdministrationServlet</display-name>
        <servlet-name>AdministrationServlet</servlet-name>
        <servlet-class>servlet.AdministrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationServlet</servlet-name>
        <url-pattern>/pages/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DailyWorkloadServlet</display-name>
        <servlet-name>DailyWorkloadServlet</servlet-name>
        <servlet-class>servlet.DailyWorkloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DailyWorkloadServlet</servlet-name>
        <url-pattern>/pages/dailyWorkload</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>HourlyWorkloadJSONServlet</display-name>
        <servlet-name>HourlyWorkloadJSONServlet</servlet-name>
        <servlet-class>servlet.HourlyWorkloadJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HourlyWorkloadJSONServlet</servlet-name>
        <url-pattern>/pages/HourlyWorkloadJSONServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TablesMFCountersServlet</display-name>
        <servlet-name>TablesMFCountersServlet</servlet-name>
        <servlet-class>servlet.TablesMFCountersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TablesMFCountersServlet</servlet-name>
        <url-pattern>/pages/tablesMFCounters</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LastDayCpuServlet</display-name>
        <servlet-name>LastDayCpuServlet</servlet-name>
        <servlet-class>servlet.LastDayCpuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastDayCpuServlet</servlet-name>
        <url-pattern>/pages/lastDayCpu</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RealeMutuaChartsServlet</display-name>
        <servlet-name>RealeMutuaChartsServlet</servlet-name>
        <servlet-class>servlet.RealeMutuaChartsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealeMutuaChartsServlet</servlet-name>
        <url-pattern>/pages/realeCharts</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WorkloadJSONServlet</display-name>
        <servlet-name>WorkloadJSONServlet</servlet-name>
        <servlet-class>servlet.WorkloadJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkloadJSONServlet</servlet-name>
        <url-pattern>/pages/workload</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WorkloadByDayJSON</display-name>
        <servlet-name>WorkloadByDayJSON</servlet-name>
        <servlet-class>servlet.WorkloadByDayJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkloadByDayJSON</servlet-name>
        <url-pattern>/pages/workloadByDayJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VolumesTimesJSONServlet</display-name>
        <servlet-name>VolumesTimesJSONServlet</servlet-name>
        <servlet-class>servlet.VolumesTimesJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumesTimesJSONServlet</servlet-name>
        <url-pattern>/pages/volumesTimes</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MF113ExporterServlet</display-name>
        <servlet-name>MF113ExporterServlet</servlet-name>
        <servlet-class>servlet.MF113ExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MF113ExporterServlet</servlet-name>
        <url-pattern>/pages/113Excel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransactionDetailJSONServlet</display-name>
        <servlet-name>TransactionDetailJSONServlet</servlet-name>
        <servlet-class>servlet.TransactionDetailJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionDetailJSONServlet</servlet-name>
        <url-pattern>/pages/transactionDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransactionIntervalExcelExporterServlet</display-name>
        <servlet-name>TransactionIntervalExcelExporterServlet</servlet-name>
        <servlet-class>servlet.TransactionIntervalExcelExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionIntervalExcelExporterServlet</servlet-name>
        <url-pattern>/pages/transactionIntervalExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AbendJSONServlet</display-name>
        <servlet-name>AbendJSONServlet</servlet-name>
        <servlet-class>servlet.AbendJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbendJSONServlet</servlet-name>
        <url-pattern>/pages/abendJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransactionAbendJSONSTableServlet</display-name>
        <servlet-name>TransactionAbendJSONSTableServlet</servlet-name>
        <servlet-class>servlet.TransactionAbendJSONSTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionAbendJSONSTableServlet</servlet-name>
        <url-pattern>/pages/transactionAbendJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransactionAbendExcelServlet</display-name>
        <servlet-name>TransactionAbendExcelServlet</servlet-name>
        <servlet-class>servlet.TransactionAbendExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionAbendExcelServlet</servlet-name>
        <url-pattern>/pages/transactionAbendExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BatchDetailJSONServlet</display-name>
        <servlet-name>BatchDetailJSONServlet</servlet-name>
        <servlet-class>servlet.BatchDetailJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchDetailJSONServlet</servlet-name>
        <url-pattern>/pages/batchDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BatchAbendJSONServlet</display-name>
        <servlet-name>BatchAbendJSONServlet</servlet-name>
        <servlet-class>servlet.BatchAbendJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchAbendJSONServlet</servlet-name>
        <url-pattern>/pages/batchAbendJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BatchAbendJSONTableServlet</display-name>
        <servlet-name>BatchAbendJSONTableServlet</servlet-name>
        <servlet-class>servlet.BatchAbendJSONTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchAbendJSONTableServlet</servlet-name>
        <url-pattern>/pages/batchAbendTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BatchAbendExcelServlet</display-name>
        <servlet-name>BatchAbendExcelServlet</servlet-name>
        <servlet-class>servlet.BatchAbendExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchAbendExcelServlet</servlet-name>
        <url-pattern>/pages/batchAbendExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InfocenterExporterServlet</display-name>
        <servlet-name>InfocenterExporterServlet</servlet-name>
        <servlet-class>servlet.InfocenterExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfocenterExporterServlet</servlet-name>
        <url-pattern>/pages/infocenterExporter</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WorkloadExporterServlet</display-name>
        <servlet-name>WorkloadExporterServlet</servlet-name>
        <servlet-class>servlet.WorkloadExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkloadExporterServlet</servlet-name>
        <url-pattern>/pages/workloadExporter</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WorkloadByDayExporterServlet</display-name>
        <servlet-name>WorkloadByDayExporterServlet</servlet-name>
        <servlet-class>servlet.WorkloadByDayExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkloadByDayExporterServlet</servlet-name>
        <url-pattern>/pages/workloadByDayExporter</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>JoobleSuggestServlet</display-name>
        <servlet-name>JoobleSuggestServlet</servlet-name>
        <servlet-class>servlet.JoobleSuggestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoobleSuggestServlet</servlet-name>
        <url-pattern>/pages/getSuggest</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>JoobleSearchJSONServlet</display-name>
        <servlet-name>JoobleSearchJSONServlet</servlet-name>
        <servlet-class>servlet.JoobleSearchJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoobleSearchJSONServlet</servlet-name>
        <url-pattern>/pages/getJobByName</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>StepByJesnumServlet</display-name>
        <servlet-name>StepByJesnumServlet</servlet-name>
        <servlet-class>servlet.StepByJesnumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StepByJesnumServlet</servlet-name>
        <url-pattern>/pages/getStep</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TapeReportJSONServlet</display-name>
        <servlet-name>TapeReportJSONServlet</servlet-name>
        <servlet-class>servlet.TapeReportJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TapeReportJSONServlet</servlet-name>
        <url-pattern>/pages/tapeReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MQByDayJSONServlet</display-name>
        <servlet-name>MQByDayJSONServlet</servlet-name>
        <servlet-class>servlet.MQByDayJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MQByDayJSONServlet</servlet-name>
        <url-pattern>/pages/mqByDay</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LoginControlServlet</display-name>
        <servlet-name>LoginControlServlet</servlet-name>
        <servlet-class>servlet.LoginControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControlServlet</servlet-name>
        <url-pattern>/pages/LoginControlServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CreateNewAccountServlet</display-name>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>servlet.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/pages/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ActivationAccountServlet</display-name>
        <servlet-name>ActivationAccountServlet</servlet-name>
        <servlet-class>servlet.ActivationAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivationAccountServlet</servlet-name>
        <url-pattern>/pages/activation</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PasswordRecoveryServlet</display-name>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>servlet.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/pages/recovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>NewPasswordServlet</display-name>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>servlet.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/pages/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>JoobleExcelExporterServlet</display-name>
        <servlet-name>JoobleExcelExporterServlet</servlet-name>
        <servlet-class>servlet.JoobleExcelExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoobleExcelExporterServlet</servlet-name>
        <url-pattern>/pages/joobleExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>JoobleStepExcelExporter</display-name>
        <servlet-name>JoobleStepExcelExporter</servlet-name>
        <servlet-class>servlet.JoobleStepExcelExporter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoobleStepExcelExporter</servlet-name>
        <url-pattern>/pages/joobleStepExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TemporaryServlet</display-name>
        <servlet-name>TemporaryServlet</servlet-name>
        <servlet-class>servlet.TemporaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemporaryServlet</servlet-name>
        <url-pattern>/pages/tempServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransactionVolumesTimesServlet</display-name>
        <servlet-name>TransactionVolumesTimesServlet</servlet-name>
        <servlet-class>servlet.TransactionVolumesTimesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionVolumesTimesServlet</servlet-name>
        <url-pattern>/pages/volTimeTran</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>JobsCalendarServlet</display-name>
        <servlet-name>JobsCalendarServlet</servlet-name>
        <servlet-class>servlet.JobsCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobsCalendarServlet</servlet-name>
        <url-pattern>/pages/jobsCalendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MQChartDispatcherServlet</display-name>
        <servlet-name>MQChartDispatcherServlet</servlet-name>
        <servlet-class>servlet.MQChartDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MQChartDispatcherServlet</servlet-name>
        <url-pattern>/pages/mqChart</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MQChartJSONServlet</display-name>
        <servlet-name>MQChartJSONServlet</servlet-name>
        <servlet-class>servlet.MQChartJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MQChartJSONServlet</servlet-name>
        <url-pattern>/pages/mqChartJSON</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MQChartDrilldownJSONServlet</display-name>
        <servlet-name>MQChartDrilldownJSONServlet</servlet-name>
        <servlet-class>servlet.MQChartDrilldownJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MQChartDrilldownJSONServlet</servlet-name>
        <url-pattern>/pages/mqChartDrilldown</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CalendarAccentureSuggestServlet</display-name>
        <servlet-name>CalendarAccentureSuggestServlet</servlet-name>
        <servlet-class>servlet.CalendarAccentureSuggestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarAccentureSuggestServlet</servlet-name>
        <url-pattern>/pages/getSuggestCalendarAccenture</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DailyDetailExcelServlet</display-name>
        <servlet-name>DailyDetailExcelServlet</servlet-name>
        <servlet-class>servlet.DailyDetailExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DailyDetailExcelServlet</servlet-name>
        <url-pattern>/pages/dailyDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VisualCicsSuggestServlet</display-name>
        <servlet-name>VisualCicsSuggestServlet</servlet-name>
        <servlet-class>servlet.VisualCicsSuggestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisualCicsSuggestServlet</servlet-name>
        <url-pattern>/pages/getSuggestionsCics</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VolumesTimesDailyServlet</display-name>
        <servlet-name>VolumesTimesDailyServlet</servlet-name>
        <servlet-class>servlet.VolumesTimesDailyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumesTimesDailyServlet</servlet-name>
        <url-pattern>/pages/volumesTimesDaily</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VolumesTimesByDayServlet</display-name>
        <servlet-name>VolumesTimesByDayServlet</servlet-name>
        <servlet-class>servlet.VolumesTimesByDayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumesTimesByDayServlet</servlet-name>
        <url-pattern>/pages/volumesTimesByDay</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SystemComsumptionsServlet</display-name>
        <servlet-name>SystemComsumptionsServlet</servlet-name>
        <servlet-class>servlet.SystemComsumptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemComsumptionsServlet</servlet-name>
        <url-pattern>/pages/systemComsumptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WlcMonthlyReportServlet</display-name>
        <servlet-name>WlcMonthlyReportServlet</servlet-name>
        <servlet-class>servlet.WlcMonthlyReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WlcMonthlyReportServlet</servlet-name>
        <url-pattern>/WlcMonthlyReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SondaWorkloadServlet</display-name>
        <servlet-name>SondaWorkloadServlet</servlet-name>
        <servlet-class>servlet.SondaWorkloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SondaWorkloadServlet</servlet-name>
        <url-pattern>/pages/sondaWorkload</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VolumiSMFJSONServlet</display-name>
        <servlet-name>VolumiSMFJSONServlet</servlet-name>
        <servlet-class>servlet.VolumiSMFJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumiSMFJSONServlet</servlet-name>
        <url-pattern>/pages/volumiSMF</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AccentureDetailExporterServlet</display-name>
        <servlet-name>AccentureDetailExporterServlet</servlet-name>
        <servlet-class>servlet.AccentureDetailExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccentureDetailExporterServlet</servlet-name>
        <url-pattern>/pages/detailAccenture</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CpiDetailExportServlet</display-name>
        <servlet-name>CpiDetailExportServlet</servlet-name>
        <servlet-class>servlet.CpiDetailExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CpiDetailExportServlet</servlet-name>
        <url-pattern>/pages/cpiDailyDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SystemConsumptionExporterServlet</display-name>
        <servlet-name>SystemConsumptionExporterServlet</servlet-name>
        <servlet-class>servlet.SystemConsumptionExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemConsumptionExporterServlet</servlet-name>
        <url-pattern>/pages/consumptionsExporter</url-pattern>
    </servlet-mapping>
</web-app>
